<uib-accordion>
  <uib-accordion-group is-open="true" heading="Static Header, initially expanded" panel-class="bootstrap-panel accordion-panel panel-default">
      This content is straight in the templates.
  </uib-accordion-group>
  <uib-accordion-group heading="Dynamic Body Content" panel-class="bootstrap-panel accordion-panel panel-default">
    <p>The body of the uib-accordion group grows to fit the contents</p>
    <button type="button" class="btn btn-primary btn-sm">Add Item</button>
  </uib-accordion-group>
  <uib-accordion-group heading="Custom template" class="bootstrap-panel accordion-panel panel-default">
    Hello
  </uib-accordion-group>
  <uib-accordion-group panel-class="bootstrap-panel accordion-panel panel-default">
    <uib-accordion-heading>
      I can have markup, too! <i class="fa pull-right ion-settings"></i>
    </uib-accordion-heading>
    This is just some content to illustrate fancy headings.
  </uib-accordion-group>
</uib-accordion>