<div class="widgets">
    <div class="row">
        <div class="col-md-12"
             ba-panel="buc"
             ba-panel-title="Dane Praktykodawcy"
             ba-panel-class="with-scroll"
             ba-panel-title-color="ba-title-panel-color">
            <ng-form name="form1" class="form-horizontal">
                <div class="form-group">
                    <label for="shortName1" class="col-sm-2 control-label">Nazwa Skrócona</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="employer.name" class="form-control" id="shortName1">
                    </div>
                </div>
                <div class="form-group">
                    <label for="name1" class="col-sm-2 control-label">Nazwa </label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="employer.fullName" class="form-control" id="name1">
                    </div>
                </div>
                <div class="form-group">
                    <label for="textarea01" class="col-sm-2 control-label">Opis</label>
                    <div class="col-sm-6">
                        <textarea ng-model="employer.description" class="form-control" id="textarea01"></textarea>
                    </div>
                </div>

                <div ng-repeat="address in employer.addresses">
                    <div class="panel-heading clearfix"
                         style="margin-left: -22px;margin-right: -22px;border-top: 1px; margin-bottom: 15px;background-color: #e6fffa">
                        <h3 class="panel-title">Adres praktykodawcy</h3>
                    </div>
                    <div class="form-group" style="margin-bottom: 15px">
                        <label for="street1" class="col-sm-2 control-label">Ulica</label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="address.street" class="form-control" id="street1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="numberBuilding1" class="col-sm-2 control-label">Numer budynku</label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="address.numberBuilding" class="form-control"
                                   id="numberBuilding1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="city1" class="col-sm-2 control-label">Miejscowości</label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="address.city" class="form-control" id="city1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="postCode1" class="col-sm-2 control-label">Kod pocztowy</label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="address.postCode" class="form-control" id="postCode1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="country1" class="col-sm-2 control-label">Kraj</label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="address.country" class="form-control" id="country1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone1" class="col-sm-2 control-label">Tlefon</label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="address.phone1" class="form-control" id="phone1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone2" class="col-sm-2 control-label">Telefon komórkowy</label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="address.phone2" class="form-control" id="phone2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fax1" class="col-sm-2 control-label">Fax</label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="address.fax" class="form-control" id="fax1">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="country1" class="col-sm-2 control-label"></label>
                    <div class="col-sm-6">
                        <button type="button" ng-click="addDepartament()" class="btn btn-inverse">Dodaj oddział</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" ng-click="saveAddress()" class="btn btn-success">Zapisz</button>
                        <button type="button" class="btn btn-danger">Anuluj</button>
                    </div>
                </div>
            </ng-form>
        </div>
    </div>
</div>