<div class="page-top clearfix" scroll-position="scrolled" max-height="30" ng-class="{'scrolled': scrolled}">
  <!--<a href="#/dashboard" class="al-logo clearfix"><span>Blur</span>Admin</a>-->
  <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>

  <!--<div class="search">-->
    <!--<i class="ion-ios-search-strong" ng-click="startSearch()"></i>-->
    <!--<input id="searchInput" type="text" placeholder="Search for...">-->
  <!--</div>-->

  <div class="user-profile clearfix">
    <div class="al-user-profile" uib-dropdown>
      <a uib-dropdown-toggle class="profile-toggle-link">
        <i class="fa fa-power-off fa-2x" aria-hidden="true" style="color: white;padding-top: 10px"></i>
        <!--<img ng-src="{{::( 'Nasta' | profilePicture )}}">-->
      </a>
      <ul  class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
        <li><i class="dropdown-arr"></i></li>
        <li><a href="#/profile"><i class="fa fa-user"></i>Profil</a></li>
        <!--<li><a href><i class="fa fa-cog"></i>Settings</a></li>-->
        <li><a href="/logout" class="signout"><i class="fa fa-power-off"></i>Wyloguj</a></li>
      </ul>
    </div>
    <msg-center></msg-center>
  </div>
</div>