<div class="col-md-12"
     ba-panel
     ba-panel-title="KARTA ZGŁOSZENIA UMOWY"
     ba-panel-class="with-scroll">

    <div class="content-panel large-panel" >
        <form class="form-horizontal" ng-submit="saveAgreement()">
            <div ng-show="entities.length > 1">
                <h3 class="with-line">Wybierz kierunek</h3>
                <div>
                    <div ng-repeat="subscription in entities">
                        <label class="checkbox-inline custom-checkbox nowrap">
                            <input type="checkbox" ng-model="subscription.checked" ng-click="updateSelection($index, entities)">
                            <span>{{subscription.coursesOfStudeyName}}, {{subscription.ccoursesOfStudtSepcilaization}}</span>
                        </label>
                    </div>
                </div>
            </div>
            <h3 class="with-line">Dane Praktykodawcy</h3>
            <div class="form-group">
                <label for="name1" class="col-sm-3 control-label">Nazwa skrócona<span
                        style="color: darkred">*</span></label>
                <div class="col-sm-6">
                    <input type="text" ng-model="employer.name" class="form-control" id="name1"
                           required="true">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">Nazwa<span
                        style="color: darkred">*</span></label>
                <div class="col-sm-6">
                    <input type="text" ng-model="employer.fullName" class="form-control" id="name"
                           required="true">
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-3 control-label">Opis</label>
                <div class="col-sm-6">
                    <input type="text" ng-model="employer.description" class="form-control" id="description"
                    >
                </div>
            </div>

            <div ng-repeat="address in employer.employerAddresses">
                <h3 class="with-line" ng-show="!address.departament">Adres praktkodawcy</h3>
                <h3 class="with-line" ng-show="address.departament">Adres odbywania praktyk(wypełnid jeżeli inne niż wskazany wyżej adres)</h3>
                <div class="form-group" style="margin-bottom: 15px">
                    <label for="street1" class="col-sm-3 control-label">Ulica <span
                            style="color: darkred">*</span></label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="address.street" class="form-control" id="street1"
                               required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="numberBuilding1" class="col-sm-3 control-label">Numer budynku <span
                            style="color: darkred">*</span></label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="address.numberBuilding" class="form-control"
                               id="numberBuilding1" required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="city1" class="col-sm-3 control-label">Miejscowości <span style="color: darkred">*</span></label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="address.city" class="form-control" id="city1"
                               required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="postCode1" class="col-sm-3 control-label">Kod pocztowy <span
                            style="color: darkred">*</span></label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="address.postCode" class="form-control" id="postCode1"
                               required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="country1" class="col-sm-3 control-label">Kraj <span
                            style="color: darkred">*</span></label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="address.country" class="form-control" id="country1"
                               required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone1" class="col-sm-3 control-label">Tlefon</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="address.phone1" class="form-control" id="phone1">
                    </div>
                </div>
            </div>
            <h3 class="with-line">Okres zatrudnienia / Okres realizacji umowy cywilnoprawnej</h3>
            <div class="form-group row clearfix" ng-controller="datepickerpopupCtrl">
                <label class="col-sm-3 control-label" for="inputStart">Data rozpoczęcia <span
                        style="color: darkred">*</span></label>
                <div class="col-sm-6">
                    <p class="input-group ">
                        <input type="text" class="form-control"
                               uib-datepicker-popup="{{format}}"
                               datepicker-options="options"
                               ng-model="data.practice.star"
                               is-open="opened"
                               ng-required="true" close-text="Close"
                               alt-input-formats="altInputFormats" id="inputStart"
                               show-button-bar="false" ng-disabled="isDisabled"/>
                        <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open()"
                                                        ng-disabled="isDisabled"><i
                                                        class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                    </p>
                </div>
            </div>
            <div class="form-group row clearfix" ng-controller="datepickerpopupCtrl">
                <label class="col-sm-3 control-label" for="inputEnd">Data zakończenia <span
                        style="color: darkred">*</span></label>
                <div class="col-sm-6">
                    <p class="input-group ">
                        <input type="text" class="form-control"
                               uib-datepicker-popup="{{format}}"
                               datepicker-options="options"
                               ng-model="data.practice.end"
                               is-open="opened"
                               ng-required="true" close-text="Close"
                               alt-input-formats="altInputFormats" id="inputEnd"
                               show-button-bar="false" ng-disabled="isDisabled"/>
                        <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open()"
                                                        ng-disabled="isDisabled"><i
                                                        class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="number" class="col-sm-3 control-label">Wymiar etatu(Dotyczy umowy o prace)</label>
                <div class="col-sm-6">
                    <input type="text" ng-model="data.practice.employmentDimension" class="form-control" id="number"
                    >
                </div>
            </div>
            <div class="form-group">
                <label for="number1" class="col-sm-3 control-label">Liczba osobogodzin realizacji przedmiotu umowy (Dotyczy umowy cywilnoprawne)</label>
                <div class="col-sm-6">
                    <input type="number" ng-model="data.practice.hours" class="form-control" id="number1"
                    >
                </div>
            </div>

            <h3 class="with-line">Dokumenty potwierdzające w/w informacje </h3>
            <div class="form-group">
                <label class="col-sm-3 control-label">Dokumen potwierdzajacy</label>
                <div class="col-md-9">
                    <!--<i class="ion-ios-close-outline" ng-click="removePicture()" ng-if="!noPicture"></i>-->

                    <button id="btn" class="btn btn-warning" ng-click="uploadFile()"><i class="fa fa-plus"></i> Dodaj plik</button>
                    <!--<span class="control-label col-sm-3" style="color: darkred" ng-model="error.file"></span>-->
                    <span for="btn" class="control-label col-md3" ng-bind="fileName" ></span>
                    <input type="file" ng-show="false" id="uploadFile" onchange="angular.element(this).scope().fileNameChanged(this)">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Zapisz</button>
                    <button type="button" class="btn btn-danger" ng-click="cancel()"><i class="fa fa-close" ></i>
                        Anuluj
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
