<div class="col-md-12"
     ba-panel
     ba-panel-title="KARTA ZGŁOSZENIA ZAKŁADU PRACY"
     ba-panel-class="with-scroll">

    <div class="content-panel large-panel" >
        <form class="form-horizontal" ng-submit="generateTemplate()">
        <h3 class="with-line">Dane praktyki</h3>
        <div class="form-group row clearfix" ng-controller="datepickerpopupCtrl">
            <label class="col-sm-3 control-label" for="inputStart">Data rozpoczęcia <span
                    style="color: darkred">*</span></label>
            <div class="col-sm-6">
                <p class="input-group ">
                    <input type="text" class="form-control"
                           uib-datepicker-popup="{{format}}"
                           datepicker-options="options"
                           ng-model="practice.star"
                           is-open="opened"
                           ng-required="true" close-text="Close"
                           alt-input-formats="altInputFormats" id="inputStart"
                           show-button-bar="false" ng-disabled="isDisabled"/>
                    <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open()"
                                                        ng-disabled="isDisabled"><i
                                                        class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                </p>
            </div>
        </div>
        <div class="form-group row clearfix" ng-controller="datepickerpopupCtrl">
            <label class="col-sm-3 control-label" for="inputEnd">Data zakończenia <span
                    style="color: darkred">*</span></label>
            <div class="col-sm-6">
                <p class="input-group ">
                    <input type="text" class="form-control"
                           uib-datepicker-popup="{{format}}"
                           datepicker-options="options"
                           ng-model="practice.end"
                           is-open="opened"
                           ng-required="true" close-text="Close"
                           alt-input-formats="altInputFormats" id="inputEnd"
                           show-button-bar="false" ng-disabled="isDisabled"/>
                    <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open()"
                                                        ng-disabled="isDisabled"><i
                                                        class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                </p>
            </div>
        </div>
            <h3 class="with-line">Zakład pracy (instytucja, fundacja, podmiot gospodarczy)</h3>
            <div class="form-group">
                <label for="name2" class="col-sm-3 control-label">Nazwa <span
                        style="color: darkred">*</span></label>
                <div class="col-sm-6">
                    <input type="text" ng-model="employer.fullName" class="form-control" id="name2"
                           required="true">
                </div>
            </div>
            <div class="form-group">
                <label for="description1" class="col-sm-3 control-label">Adres www</label>
                <div class="col-sm-6">
                    <input type="text" ng-model="employer.description" class="form-control" id="description1"
                    >
                </div>
            </div>
            <div class="form-group">
                <label for="trade1" class="col-sm-3 control-label">Branża</label>
                <div class="col-sm-6">
                    <input type="text" ng-model="employer.trade" class="form-control" id="trade1"
                    >
                </div>
            </div>

            <div ng-repeat="address in employer.addresses">
                <h3 class="with-line" ng-show="!address.departament">Adres praktkodawcy</h3>
                <h3 class="with-line" ng-show="address.departament">Adres odbywania praktyk(wypełnid jeżeli inne niż wskazany wyżej adres)</h3>
                <div class="form-group" style="margin-bottom: 15px">
                    <label for="street2" class="col-sm-3 control-label">Ulica <span
                            style="color: darkred">*</span></label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="address.street" class="form-control" id="street2"
                               required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="numberBuilding2" class="col-sm-3 control-label">Numer budynku <span
                            style="color: darkred">*</span></label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="address.numberBuilding" class="form-control"
                               id="numberBuilding2" required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="city2" class="col-sm-3 control-label">Miejscowości <span style="color: darkred">*</span></label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="address.city" class="form-control" id="city2"
                               required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="postCode2" class="col-sm-3 control-label">Kod pocztowy <span
                            style="color: darkred">*</span></label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="address.postCode" class="form-control" id="postCode2"
                               required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="country2" class="col-sm-3 control-label">Kraj <span
                            style="color: darkred">*</span></label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="address.country" class="form-control" id="country2"
                               required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone4" class="col-sm-3 control-label">Tlefon</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="address.phone1" class="form-control" id="phone4">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone2" class="col-sm-3 control-label">Telefon komórkowy</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="address.phone2" class="form-control" id="phone3">
                    </div>
                </div>
            </div>
            <h3 class="with-line">Miejsce odbywania praktyki (wypełnić jeżeli inne niż wskazany wyżej adres)</h3>
            <div class="form-group">
                <label for="name1" class="col-sm-3 control-label">Nazwa <span
                        style="color: darkred">*</span></label>
                <div class="col-sm-6">
                    <input type="text" ng-model="employer1.fullName" class="form-control" id="name1"
                           >
                </div>
            </div>

            <div ng-repeat="address in employer1.addresses">
                <h3 class="with-line" ng-show="!address.departament">Adres praktkodawcy</h3>
                <h3 class="with-line" ng-show="address.departament">Adres odbywania praktyk(wypełnid jeżeli inne niż wskazany wyżej adres)</h3>
                <div class="form-group" style="margin-bottom: 15px">
                    <label for="street1" class="col-sm-3 control-label">Ulica <span
                            style="color: darkred">*</span></label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="address.street" class="form-control" id="street1"
                               required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="numberBuilding1" class="col-sm-3 control-label">Numer budynku <span
                            style="color: darkred">*</span></label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="address.numberBuilding" class="form-control"
                               id="numberBuilding1" required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="city1" class="col-sm-3 control-label">Miejscowości <span style="color: darkred">*</span></label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="address.city" class="form-control" id="city1"
                               required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="postCode1" class="col-sm-3 control-label">Kod pocztowy <span
                            style="color: darkred">*</span></label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="address.postCode" class="form-control" id="postCode1"
                               required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="country1" class="col-sm-3 control-label">Kraj <span
                            style="color: darkred">*</span></label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="address.country" class="form-control" id="country1"
                               required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone1" class="col-sm-3 control-label">Tlefon</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="address.phone1" class="form-control" id="phone1">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone2" class="col-sm-3 control-label">Telefon komórkowy</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="address.phone2" class="form-control" id="phone2">
                    </div>
                </div>
            </div>

        <h3 class="with-line">Reprezentant podmiotu(prezes, dyrektor, prezydent, wójt)</h3>
            <div class="form-group">
                <label for="inputFirstName1" class="col-sm-3 control-label">Imię <span
                        style="color: darkred">*</span></label>
                <div class="col-sm-6">
                    <input type="text" ng-model="coordinator.firstName" class="form-control"
                           id="inputFirstName1" required="true">
                </div>
            </div>
            <div class="form-group">
                <label for="inputLastname" class="col-sm-3 control-label">Nazwisko <span style="color: darkred">*</span></label>
                <div class="col-sm-6">
                    <input type="text" ng-model="coordinator.lastName" class="form-control" id="inputLastname"
                           required="true">
                </div>
            </div>
            <div class="form-group">
                <label for="inputWorksite" class="col-sm-3 control-label">Stanowisko <span
                        style="color: darkred">*</span></label>
                <div class="col-sm-6">
                    <input type="text" ng-model="coordinator.position" class="form-control" id="inputWorksite"
                           required="true">
                </div>
            </div>
            <div class="form-group">
                <label for="inputOcupation1" class="col-sm-3 control-label">Tytuł zawodowy</label>
                <div class="col-sm-6">
                    <input type="text" ng-model="coordinator.degree" class="form-control"
                           id="inputOcupation1">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail1" class="col-sm-3 control-label">Email <span
                        style="color: darkred">*</span></label>
                <div class="col-sm-6">
                    <input type="email" ng-model="coordinator.email" class="form-control"
                           id="inputEmail1" required="true">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPhone1" class="col-sm-3 control-label">Telefon</label>
                <div class="col-sm-6">
                    <input type="text" ng-model="coordinator.phone" class="form-control"
                           id="inputPhone1">
                </div>
            </div>
            <h3 class="with-line">Opiekun praktyki ze strony podmiotu</h3>
            <div class="form-group">
                <label for="inputFirstName" class="col-sm-3 control-label">Imię <span
                        style="color: darkred">*</span></label>
                <div class="col-sm-6">
                    <input type="text" ng-model="assistant.firstName" class="form-control"
                           id="inputFirstName" required="true">
                </div>
            </div>
            <div class="form-group">
                <label for="inputLastname1" class="col-sm-3 control-label">Nazwisko <span style="color: darkred">*</span></label>
                <div class="col-sm-6">
                    <input type="text" ng-model="assistant.lastName" class="form-control" id="inputLastname1"
                           required="true">
                </div>
            </div>
            <div class="form-group">
                <label for="inputWorksite1" class="col-sm-3 control-label">Stanowisko <span
                        style="color: darkred">*</span></label>
                <div class="col-sm-6">
                    <input type="text" ng-model="assistant.position" class="form-control" id="inputWorksite1"
                           required="true">
                </div>
            </div>
            <div class="form-group">
                <label for="inputOcupation" class="col-sm-3 control-label">Tytuł zawodowy</label>
                <div class="col-sm-6">
                    <input type="text" ng-model="assistant.degree" class="form-control"
                           id="inputOcupation">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-sm-3 control-label">Email <span
                        style="color: darkred">*</span></label>
                <div class="col-sm-6">
                    <input type="email" ng-model="assistant.email" class="form-control"
                           id="inputEmail" required="true">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPhone" class="col-sm-3 control-label">Telefon</label>
                <div class="col-sm-6">
                    <input type="text" ng-model="assistant.phone" class="form-control"
                           id="inputPhone">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Generuj szablon</button>
                    <button type="button" class="btn btn-danger" ng-click="cancel()"><i class="fa fa-close" ></i>
                        Anuluj
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
