<div ba-panel
     ba-panel-class="profile-page">
    <div class="panel-content">
        <form ng-submit="checkChange()">
            <div>
                <button type="button" class="btn btn-info" ng-show="!isEditable" ng-click="edit()"><i class="fa fa-pencil"></i> Edytuj</button>
            </div>
            <h3 class="with-line">Podstawowe dane</h3>
            <div class="row">
                <div class="col-md-6 col-md-offset-1">
                    <div class="form-group row clearfix">
                        <label for="inputName" class="col-sm-3 control-label">Login</label>

                        <div class="col-sm-9">
                            <input ng-model="user.login" type="text" class="form-control"
                                   id="inputName"
                                   placeholder="" value="" ng-disabled="isDisabled">
                        </div>
                    </div>
                    <div class="form-group row clearfix">
                        <label for="inputSpecjalization" class="col-sm-3 control-label">Imię</label>

                        <div class="col-sm-9">
                            <input ng-model="user.firstName" type="text"
                                   class="form-control" id="inputSpecjalization"
                                   placeholder="" value="" ng-disabled="isDisabled">
                        </div>
                    </div>
                    <div class="form-group row clearfix">
                        <label for="inputDays" class="col-sm-3 control-label">Nazwisko
                            <span style="color: darkred">*</span></label>

                        <div class="col-sm-9">
                            <input ng-model="user.lastName" type="text"
                                   class="form-control" id="inputDays"
                                   placeholder="" value="" ng-disabled="isDisabled">
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="with-line">Dane kontaktowe</h3>
            <div class="row">
                <div class="col-md-6 col-md-offset-1">
                    <div class="form-group row clearfix">
                        <label for="inputEmail" class="col-sm-3 control-label">Email</label>

                        <div class="col-sm-9">
                            <input ng-model="user.email" type="text" class="form-control"
                                   id="inputEmail"
                                   placeholder="" value="" ng-disabled="isDisabled">
                        </div>
                    </div>
                    <div class="form-group row clearfix">
                        <label for="inputPhone" class="col-sm-3 control-label">Telefon stacjonarny</label>

                        <div class="col-sm-9">
                            <input ng-model="user.phone" type="text"
                                   class="form-control" id="inputPhone"
                                   placeholder="" value="" ng-disabled="isDisabled">
                        </div>
                    </div>
                    <div class="form-group row clearfix">
                        <label for="inputPhone2" class="col-sm-3 control-label">Telefon komórkowy</label>
                        <div class="col-sm-9">
                            <input ng-model="user.phone2" type="text"
                                   class="form-control" id="inputPhone2"
                                   placeholder="" value="" ng-disabled="isDisabled">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="isEditable">
                <div class="col-md-6 col-md-offset-5">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Zapisz</button>
                    <button type="button" class="btn btn-danger" ng-click="edit()"><i class="fa fa-close"></i> Anuluj</button>
                </div>

            </div>
        </form>
    </div>
</div>