<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pl"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Logowanie</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Login</title>
    <!-- CORE CSS-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css"/>

    <link rel="stylesheet" th:href="@{styles/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{styles/sb-admin2.css}"/>
    <link rel="stylesheet" th:href="@{styles/main.css}"/>
    <link rel="shortcut icon" href="https://bkip.pwsztar.edu.pl/favicon.ico" type="image/x-icon"/>
       <style type="text/css">
        html,
        body {
            height: 100%;
        }

        html {
            display: table;
            margin: auto;
        }

        body {
            display: table-cell;
            vertical-align: middle;
        }

        /*.margin {*/
            /*margin: 0 !important;*/
        /*}*/
        .input {
            margin-outside: 20px;
            font-size: 15px;
        }
    </style>
</head>
<body >


<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">

            <div class="login-panel panel panel-default">
                <div th:if="${param.error}" class="alert alert-danger" >
                    Zły login lub hasło
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    Zostałeś wylogowany
                </div>
                    <div class="panel-body" style="border-radius: 0px">
                        <form th:action="@{/login}" method="POST">
                            <div class="row">
                                <div class="input-field col s12 center">
                                    <img src="images/logo-pwsz.png" title="PWSZ TARNÓW"
                                         class="responsive-img valign profile-image-login"/>
                                    <p class="page-header">System zarządzania praktykami PWSZ w Tarnowie</p>
                                </div>
                            </div>
                            <div class="login_form">
                                <div class="form_group">

                                    <input class="form-control input" placeholder="Login" name="username" type="text"
                                           id="username" required="required" style="margin-bottom: 30px; font-size: 18px"/>
                                </div>
                                <div class="form-group">

                                    <input class="form-control input" placeholder="Hasło" name="password" type="password"
                                           id="password" required="required" style="margin-bottom: 30px; font-size: 18px" />
                                </div>
                                <button uib-tooltip-popup="tooltip" title="Zaloguj" type="submit" class="btn btn-lg btn-success btn-block" style="margin: 30px 0px 30px;padding: 0px 0px 0px" value="Zaloguj">Zaloguj</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>