<!--<div class="col-md-12"-->
     <!--ba-panel-->
     <!--ba-panel-title="Twoje praktyki"-->
     <!--ba-panel-class="with-scroll" ng-controller="StudentDashboardCtrl">-->
    <!--<div class="ba-wizard" >-->
        <!--<div class="ba-wizard-navigation-container">-->
            <!--<div ng-repeat="t in tabs" class="ba-wizard-navigation {{t.active== true ? 'active' : ''}}">-->
                <!--{{t.title}}-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="progress ba-wizard-progress">-->
            <!--<div class="progress-bar progress-bar-danger active" role="progressbar"-->
                 <!--aria-valuemin="0" aria-valuemax="100" ng-style="{width: progres+ '%'}">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-6 col-md-offset-3">-->
        <!--<div ng-show="data.length == 0">-->
        <!--<h3 class="with-line">Nie wybrałes praktyk</h3>-->
        <!--&lt;!&ndash;<button class="btn btn-danger" ng-click="getTemplate()">pobierz karte</button>&ndash;&gt;-->
        <!--</div>-->
        <!--<div ng-show="data.length >0">-->
            <!--<h3 class="with-line" style="margin-top: -20px">Twoje praktyki</h3>-->
            <!--<div ng-repeat="items in data">-->
                <!--<h3 ng-if="items.status == 'ACCEPTED' && (items.practiceType == 'STUDENT' || items.practiceType =='AGREEMENT')" style="color: green">Staus zgłoszenia : zakceptowana</h3>-->
                <!--<h3 ng-if="items.status == 'NEW' && (items.practiceType == 'STUDENT' || items.practiceType =='AGREEMENT')" style="color: blue">Staus zgłoszenia : oczekuje na akceptacje</h3>-->
                <!--<h3 ng-if="items.status == 'REJECTED' && (items.practiceType == 'STUDENT' || items.practiceType =='AGREEMENT')" style="color: darkred">Staus zgłoszenia : odrzucone </h3>-->
                <!--<h3 class="with-line" style="margin-top: -20px">Data praktyky</h3>-->
                <!--<p>Data rozpoczęcia : {{items.startDate}}</p>-->
                <!--<p>Data zakończenia : {{items.endDate}}</p>-->
                <!--<h3 class="with-line" style="margin-top: -20px">Firma</h3>-->
                <!--<p>Nazwa firmy : {{items.employer.fullName}}</p>-->
                <!--<h3 class="with-line" style="margin-top: -20px">Adres praktyki</h3>-->
                <!--<p>{{items.employAddress.address.street}} {{items.employAddress.address.numberBuilding}}</p>-->
                <!--<p>{{items.employAddress.address.postCode}} {{items.employAddress.address.city}}</p>-->
                <!--<p>{{items.employAddress.address.country}}</p>-->
                <!--<p ng-show="items.employAddress.address.phone != undefined">Telefon :{{items.employAddress.address.phone}}</p>-->
                <!--<p ng-show="items.employAddress.address.phone1 != undefined">{{items.employAddress.address.phone1}}</p>-->
                <!--<p ng-show="items.employAddress.address.fax != undefined">Fax: {{items.employAddress.address.fax}}</p>-->
                <!--<p></p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div>-->
            <!--<h3 ng-show="interviews.length > 0">Twoje romowy kwalifikacyjne</h3>-->
            <!--<div class="col-md-6" >-->
                <!--<h3 ></h3>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<uib-accordion>
    <uib-accordion-group is-open="true" heading="Praktyki" panel-class="bootstrap-panel accordion-panel panel-default">
        <div class="col-md-6">
            <div ng-show="data.length == 0">
                <h3 class="with-line">Nie wybrałes praktyk</h3>
                <!--<button class="btn btn-danger" ng-click="getTemplate()">pobierz karte</button>-->
            </div>
            <div ng-show="data.length >0">
                <h3 class="with-line" style="margin-top: -20px">Twoje praktyki</h3>
                <div ng-repeat="items in data">
                    <h3 ng-if="items.status == 'ACCEPTED' && (items.practiceType == 'STUDENT' || items.practiceType =='AGREEMENT')" style="color: green">Staus zgłoszenia : zakceptowana</h3>
                    <h3 ng-if="items.status == 'NEW' && (items.practiceType == 'STUDENT' || items.practiceType =='AGREEMENT')" style="color: blue">Staus zgłoszenia : oczekuje na akceptacje</h3>
                    <h3 ng-if="items.status == 'REJECTED' && (items.practiceType == 'STUDENT' || items.practiceType =='AGREEMENT')" style="color: darkred">Staus zgłoszenia : odrzucone </h3>
                    <h3 class="with-line" style="margin-top: -20px">Data praktyky</h3>
                    <p>Data rozpoczęcia : {{items.startDate}}</p>
                    <p>Data zakończenia : {{items.endDate}}</p>
                    <h3 class="with-line" style="margin-top: -20px">Firma</h3>
                    <p>Nazwa firmy : {{items.employer.fullName}}</p>
                    <h3 class="with-line" style="margin-top: -20px">Adres praktyki</h3>
                    <p>{{items.employAddress.address.street}} {{items.employAddress.address.numberBuilding}}</p>
                    <p>{{items.employAddress.address.postCode}} {{items.employAddress.address.city}}</p>
                    <p>{{items.employAddress.address.country}}</p>
                    <p ng-show="items.employAddress.address.phone != undefined">Telefon :{{items.employAddress.address.phone}}</p>
                    <p ng-show="items.employAddress.address.phone1 != undefined">{{items.employAddress.address.phone1}}</p>
                    <p ng-show="items.employAddress.address.fax != undefined">Fax: {{items.employAddress.address.fax}}</p>
                    <p></p>
                </div>
            </div>
        </div>
    </uib-accordion-group>
    <uib-accordion-group heading="Rozmowy kwalifikacyjne" panel-class="bootstrap-panel accordion-panel panel-default">
        <div class="col-md-6 col-md-offset-3" ng-show="interviews.length==0">
            <h4 >Brak romów kwalifikacyjnych</h4>
        </div>
        <div class="col-md-6" ng-show="interviews.length>0">
            <div ng-repeat="items in interviews">
                <h3 ng-if="items.status == 'PASSED'" style="color: green">Staus rozmowy : Zaliczona</h3>
                <h3 ng-if="items.status == 'FAILED'" style="color: blue">Staus zgłoszenia : Niezaliczona</h3>
                <h3 ng-if="items.status == 'NOT_ATTEMPTED'" style="color: darkred">Staus zgłoszenia : Nie odbyta </h3>
                <!--<h3 class="with-line" style="margin-top: -20px">Data praktyky</h3>-->
                <p>Data rozmowy : {{items.dataInterview | date:'yyyy-MM-dd HH:mm'}}</p>
                <p>Ocena : {{items.grade}}</p>
                <h3 class="with-line" style="margin-top: -20px">Firma</h3>
                <p>Nazwa firmy : {{items.employer.fullName}}</p>
            </div>
        </div>
    </uib-accordion-group>
    <uib-accordion-group heading="Zapis na praktyki" class="bootstrap-panel accordion-panel panel-default">
        <div ng-show="data.length == 0">
            <h3 class="with-line">Nie wybrałes praktyk</h3>
            <!--<button class="btn btn-danger" ng-click="getTemplate()">pobierz karte</button>-->
        </div>
        <div ng-show="data.length >0">
            <h3 class="with-line" style="margin-top: -20px">Twoje zgłoszenia na praktyki</h3>
            <div ng-repeat="items in applications">
                <h3 class="with-line" style="margin-top: -20px; color: green">Data praktyky</h3>
                <p>Data rozpoczęcia : {{items.star}}</p>
                <p>Data zakończenia : {{items.end}}</p>
                <h3 class="with-line" style="margin-top: -20px">Firma</h3>
                <p>Nazwa firmy : {{items.employer.fullName}}</p>
                <p></p>
            </div>
        </div>
        </div>
    </uib-accordion-group>
</uib-accordion>