<div class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-7">
            <p > {{employer.name}}</p>
            <p  > {{employer.fullName}}</p>
        </div>
        <div class="col-sm-5" id="maps" >
            <div id="google-maps" style="height: 230px"></div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
            <button type="submit" class="btn btn-info">Edytuj</button>
        </div>
    </div>
</div>
