<div class="row">
    <div class="panel-content">
    <h3 class="with-line">Dane podstawowe</h3>
    <span>{{person.degree}} {{person.firstName}} {{person.lastName}}</span>
    <span>{{assistentPractices.position}}</span>
     <h3 class="with-line">Dane kontaktowe</h3>
    <span>{{person.email}}</span>
    <span>{{person.mobilePhone}}</span>
    <span>{{person.phone}}</span>
    </div>
</div>