<table class="table" st-table="displayedCollection" st-safe-src="rowCollection">
    <thead>
    <tr class="sortable">
        <th ></th>
        <th st-sort="persone.lastName">Id</th>
        <th st-sort="persone.firstName">Stanowisko</th>
        <th st-sort="person.email">Email</th>
        <th st-sort="persone.mobilePhone">Telefon</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in displayedCollection">
        <td class="table-id"></td>
        <td ><a href ng-click="employerDetail(item)">{{item.person.degree}} {{item.person.firstName}} {{item.person.lastName}} </a></td>
        <td>{{item.persone.email}}</td>
        <td>{{item.persone.mobilePhone}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="6" class="text-center">
            <div st-pagination="" st-items-by-page="smartTablePageSize"
                 st-displayed-pages="5"></div>
        </td>
    </tr>
    </tfoot>
</table>
