<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Zapisz profil</h4>
    </div>
    <form name="linkForm">
        <div class="modal-body">
            <h4>Czy napewno chcesz zapisac zmiany</h4>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="ok()"><i class="fa fa-check"></i>  Zapisz</button>
        </div>
    </form>
</div>