<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Raporty"
                 ba-panel-class="with-scroll">
                <div class="form-group" ng-repeat="item in rowCollection">
                    <a href ng-click="generateReport(item)">{{item}}</a>
                </div>
            </div>
        </div>
    </div>
</div>


