<div class="widgets">

    <div class="row">
        <div class="col-md-12"
             ba-panel
             ba-panel-title="Dodaj kierunek"
             ba-panel-class="with-scroll">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputName1" class="col-sm-2 control-label">Nazwa kierunku <span
                            style="color: darkred">*</span></label>
                    <div class="col-sm-6">
                        <input ng-model="coursesOfStudy.nameCourses" type="text" class="form-control" id="inputName1" placeholder="Nazwa kierunku" >
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputSpecialization1" class="col-sm-2 control-label">Specjalizacja</label>
                    <div class="col-sm-6">
                        <input ng-model="coursesOfStudy.specilaization" type="text" class="form-control" id="inputSpecialization1" placeholder="Specjalizacja" >
                    </div>
                </div>
                <div class="form-group">
                    <label for="selectStudiesDegree1" class="col-sm-2 control-label">Stopien studiów <span
                            style="color: darkred">*</span></label>
                    <div class="col-sm-6">
                        <ui-select id="selectStudiesDegree1" ng-model="coursesOfStudy.studiesDegree"
                               class="btn-group bootstrap-select form-control"
                               ng-disabled="false"
                               append-to-body="true"
                               search-enabled="false" required="required">
                        <ui-select-match placeholder="Wybierz tytuł zawodowy">
                            <span> {{coursesOfStudy.studiesDegree.degreeStudies}}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="sd in studiesDegreesList | filter: $select.search">
                            <span ng-bind-html="sd.degreeStudies"></span>
                        </ui-select-choices>
                    </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selectStudyMode1" class="col-sm-2 control-label">Tryb studiów <span
                            style="color: darkred">*</span></label>
                    <div class="col-sm-6">
                        <ui-select id="selectStudyMode1" ng-model="coursesOfStudy.studyMode"
                                   class="btn-group bootstrap-select form-control"
                                   ng-disabled="false"
                                   append-to-body="true"
                                   search-enabled="false" required="required">
                            <ui-select-match placeholder="Wybierz tryb studiów">
                                <span> {{coursesOfStudy.studyMode.modeOfStudy}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="sm in studyModes | filter: $select.search">
                                <span ng-bind-html="sm.modeOfStudy"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selectNumberOfSemesters1" class="col-sm-2 control-label">Liczba semestrów <span
                            style="color: darkred">*</span></label>
                    <div class="col-sm-6">
                        <ui-select id="selectNumberOfSemesters1" ng-model="coursesOfStudy.numberOfSemesters"
                                   class="btn-group bootstrap-select form-control"
                                   ng-disabled="false"
                                   append-to-body="true"
                                   search-enabled="false" required="required">
                            <ui-select-match placeholder="Wybierz liczbe semestrów">
                                <span> {{coursesOfStudy.numberOfSemesters.numberSemesters}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="nosl in numberOfSemesterList | filter: $select.search">
                                <span ng-bind-html="nosl.numberSemesters"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selectEducationalProfile1" class="col-sm-2 control-label">Profil kształcenia <span
                            style="color: darkred">*</span></label>
                    <div class="col-sm-6">
                        <ui-select id="selectEducationalProfile1" ng-model="coursesOfStudy.profile"
                                   class="btn-group bootstrap-select form-control"
                                   ng-disabled="false"
                                   append-to-body="true"
                                   search-enabled="false" required="required">
                            <ui-select-match placeholder="Wybierz profil kształcenia">
                                <span> {{coursesOfStudy.profile.educationProfile}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="ep in educationalProfileList | filter: $select.search">
                                <span ng-bind-html="ep.educationProfile"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selectDegree1" class="col-sm-2 control-label">Tytuł zawodowy <span
                            style="color: darkred">*</span></label>
                    <div class="col-sm-6">
                        <ui-select id="selectDegree1" ng-model="coursesOfStudy.degree"
                                   class="btn-group bootstrap-select form-control"
                                   ng-disabled="false"
                                   append-to-body="true"
                                   search-enabled="false" required="required">
                            <ui-select-match placeholder="Wybierz tytyuł zawodowy" >
                                <span> {{coursesOfStudy.degree.degreeTitle}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="sd in degreeList | filter: $select.search">
                                <span ng-bind-html="sd.degreeTitle"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                    <!--<label for="selectStudiesDegree" class="col-sm-2 control-label">Stopien studiów</label>-->
                    <!--<div class="col-sm-10">-->
                        <!--<ui-select id="selectStudiesDegree" ng-model="coursesOfStudy.studiesDegree"-->
                                   <!--class="btn-group bootstrap-select form-control"-->
                                   <!--ng-disabled="false"-->
                                   <!--append-to-body="true"-->
                                   <!--search-enabled="false">-->
                            <!--<ui-select-match placeholder="Wybierz stopien studiów">-->
                                <!--<span> {{$select.selected.degreeStudies}}</span>-->
                            <!--</ui-select-match>-->
                            <!--<ui-select-choices repeat="sd in studiesDegrees | filter: $select.search">-->
                                <!--<span ng-bind-html="sd.degreeStudies"></span>-->
                            <!--</ui-select-choices>-->
                        <!--</ui-select>-->
                    <!--</div>-->
                <!--</div>-->
            <!--<div class="form-group">-->
                <!--<div class="col-sm-offset-2 col-sm-10">-->
                    <!--<div class="checkbox">-->
                        <!--<label class="custom-checkbox">-->
                            <!--<input type="checkbox">-->
                            <!--<span>Remember me</span>-->
                        <!--</label>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success" ng-click="addCourses()">Zapisz</button>
                    <button type="button" ng-click="backToCoursesOfStudyList()" class="btn btn-danger">Anuluj</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>