<div class="add-row-editable-table">
    <button class="btn btn-primary" ng-click="addCoursesOfStudy()"><i class="fa fa-plus"></i> Dodaj kierunek</button>
</div>
<table class="table table-bordered table-hover table-condensed">

    <tr>
        <td><a href ng-click="addConsole()">Lp</a></td>
        <td>Nazwa kierunku</td>
        <td>Specializacja</td>
        <td>Liczba semestrów</td>
        <td>Tytuł zawodowy</td>
        <td>Profil</td>
        <td>Polon</td>
        <td>Akcje</td>
    </tr>
    <tr ng-repeat="cours in coursesOfStudy" class="editable-row">
        <td>
            {{$index+1}}
        </td>
        <td>
        <span e-name="nameCourses">
          {{ cours.nameCourses || 'brak' }}
        </span>
        </td>
        <td>
        <span e-name="nameCourses">
          {{ cours.specilaization || 'brak' }}
        </span>
        </td>

        <td class="select-td">
        <span e-name="numberOfSemesters">
            {{cours.numberOfSemesters.numberSemesters || 'brak'}}
        </span>
        </td>
        <td>
        <span e-name="educationProfile">
          {{ cours.degree.degreeTitle || 'brak' }}
        </span>
        </td>
        <td>
        <span e-name="educationProfile">
          {{ cours.profile.educationProfile || 'brak' }}
        </span>
        </td>
        <td>
        <span e-name="polon">
          {{ cours.polon || 'brak' }}
        </span>
        </td>
        <td>
            <div class="buttons" ng-show="!rowform.$visible">
                <button class="btn btn-primary editable-table-button btn-xs" ng-click="editCourse(cours)">
                    <i class="fa fa-pencil"></i> Edytuj</button>
                <!--<button class="btn btn-danger editable-table-button btn-xs" ng-click="removeUser($index)">Usuń</button>-->
            </div>
        </td>
    </tr>
</table>
