<div class="widgets">

  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
        <div include-with-scope="app/pages/configuration/coursesOfStudy/editableRowTable.html"></div>
      </div>
    </div>
  </div>

  <!--<div class="row">-->
    <!--<div class="col-md-12">-->
      <!--<div ba-panel ba-panel-title="Editable Cells" ba-panel-class="with-scroll">-->
        <!--<div include-with-scope="app/pages/tables/widgets/editableTable.html"></div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="row">-->
    <!--<div class="col-md-12">-->
      <!--<div ba-panel ba-panel-title="Smart Table With Filtering, Sorting And Pagination" ba-panel-class="with-scroll">-->
        <!--<div include-with-scope="app/pages/tables/widgets/smartTable.html"></div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

</div>