<div class="widgets">
    <div class="row">
        <div class="col-md-12"
             ba-panel
             ba-panel-title="Dodaj nowego praktykodawce"
             ba-panel-class="with-scroll">
            <div class="content-panel large-panel" ng-show="tabs1">
                <h3 class="with-line">Krok 1: Dane praktykodawcy</h3>
                <form name="form1" class="form-horizontal" novalidate>
                    <div class="form-group">
                        <label for="shortName1" class="col-sm-2 control-label">Nazwa skrócona <span
                                style="color: darkred">*</span></label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="employer.name" class="form-control" id="shortName1"
                                   required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name1" class="col-sm-2 control-label">Nazwa <span
                                style="color: darkred">*</span></label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="employer.fullName" class="form-control" id="name1"
                                   required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textarea01" class="col-sm-2 control-label">Opis</label>
                        <div class="col-sm-6">
                            <textarea ng-model="employer.description" class="form-control" id="textarea01"></textarea>
                        </div>
                    </div>

                    <div ng-repeat="address in employer.addresses">
                        <h3 class="with-line" ng-show="!address.departament">Adres praktykodawcy</h3>
                        <h3 class="with-line" ng-show="address.departament">Adres oddziału</h3>
                        <div class="form-group" style="margin-bottom: 15px">
                            <label for="street1" class="col-sm-2 control-label">Ulica <span
                                    style="color: darkred">*</span></label>
                            <div class="col-sm-6">
                                <input type="text" ng-model="address.street" class="form-control" id="street1"
                                       required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="numberBuilding1" class="col-sm-2 control-label">Numer budynku <span
                                    style="color: darkred">*</span></label>
                            <div class="col-sm-6">
                                <input type="text" ng-model="address.numberBuilding" class="form-control"
                                       id="numberBuilding1" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="city1" class="col-sm-2 control-label">Miejscowość <span style="color: darkred">*</span></label>
                            <div class="col-sm-6">
                                <input type="text" ng-model="address.city" class="form-control" id="city1"
                                       required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="postCode1" class="col-sm-2 control-label">Kod pocztowy <span
                                    style="color: darkred">*</span></label>
                            <div class="col-sm-6">
                                <input type="text" ng-model="address.postCode" class="form-control" id="postCode1"
                                       required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="country1" class="col-sm-2 control-label">Kraj <span
                                    style="color: darkred">*</span></label>
                            <div class="col-sm-6">
                                <input type="text" ng-model="address.country" class="form-control" id="country1"
                                       required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone1" class="col-sm-2 control-label">Telefon</label>
                            <div class="col-sm-6">
                                <input type="text" ng-model="address.phone1" class="form-control" id="phone1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone2" class="col-sm-2 control-label">Telefon komórkowy</label>
                            <div class="col-sm-6">
                                <input type="text" ng-model="address.phone2" class="form-control" id="phone2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fax1" class="col-sm-2 control-label">Fax</label>
                            <div class="col-sm-6">
                                <input type="text" ng-model="address.fax" class="form-control" id="fax1">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="country1" class="col-sm-2 control-label"></label>
                        <div class="col-sm-6">
                            <button type="button" ng-click="addDepartament()" class="btn btn-inverse">Dodaj oddział
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-warning" ng-click="saveAddress()"><i
                                    class="fa fa-arrow-right" ></i> Dalej
                            </button>
                            <button type="button" class="btn btn-danger" ng-click="cancel()"><i class="fa fa-close"></i>
                                Anuluj
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="content-panel large-panel" ng-show="tabs2">
                <h3 class="with-line">Krok 2: Dane koordynatora</h3>
                <form class="form-horizontal" novalidate>
                    <h3 class="with-line"> Dana personalne</h3>
                    <div class="form-group">
                        <label for="inputLogin" class="col-sm-2 control-label">Login <span
                                style="color: darkred">*</span></label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="coordinator.login" class="form-control" id="inputLogin"
                                   required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">Imię <span
                                style="color: darkred">*</span></label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="coordinator.firstName" class="form-control"
                                   id="inputFirstName" required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputLastname" class="col-sm-2 control-label">Nazwisko <span style="color: darkred">*</span></label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="coordinator.lastName" class="form-control" id="inputLastname"
                                   required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputWorksite" class="col-sm-2 control-label">Stanowisko <span
                                style="color: darkred">*</span></label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="coordinator.position" class="form-control" id="inputWorksite"
                                   required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputOcupation" class="col-sm-2 control-label">Tytuł zawodowy</label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="coordinator.occupation" class="form-control"
                                   id="inputOcupation">
                        </div>
                    </div>
                    <h3 class="with-line">Hasło</h3>
                    <div class="form-group">
                        <label for="inputPassword2" class="col-sm-2 control-label">Hasło <span
                                style="color: darkred">*</span></label>
                        <div class="col-sm-6">
                            <input type="password" ng-model="coordinator.password" class="form-control"
                                   id="inputPassword2" required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 control-label">Powtórz hasło <span
                                style="color: darkred">*</span></label>
                        <div class="col-sm-6">
                            <input type="password" ng-model="coordinator.confirmPassword" class="form-control"
                                   id="inputPassword" required="true">
                        </div>
                    </div>
                    <h3 class="with-line">Dane kontaktowe</h3>
                    <div class="form-group">
                        <label for="inputEmail" class="col-sm-2 control-label">Email <span
                                style="color: darkred">*</span></label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="coordinator.email" class="form-control"
                                   id="inputEmail" required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPhone" class="col-sm-2 control-label">Telefon</label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="coordinator.phone" class="form-control"
                                   id="inputPhone">
                        </div>
                    </div>
                    <h3 class="with-line">Kierunki</h3>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Wybierz kierunki studiów</label>
                                <div ng-repeat="studyField in studyFields">
                                    <label class="checkbox-inline custom-checkbox nowrap">
                                        <input type="checkbox" id="{{studyField.id}}" value="{{studyField.coursesOfStudeyName}}"
                                               ng-model="studyField.checked" ng-click="selectedItem(studyField)">
                                        <span>{{studyField.coursesOfStudeyName}}, {{studyField.coursesOfStudtSepcilaization}}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="buton" ng-click="back()" class="btn btn-warning"><i
                                    class="fa fa-arrow-left"></i> Wstecz
                            </button>
                            <button type="submit" class="btn btn-primary" ng-click="saveWizard()"><i class="fa fa-check"></i> Zapisz</button>
                            <button type="button" class="btn btn-danger"><i class="fa fa-close" ng-click="cancel()"></i>
                                Anuluj
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>