<div class="widgets">
    <div class="row">
        <div class="col-md-12"
             ba-panel
             ba-panel-title="Dodaj praktyki"
             ba-panel-class="with-scroll">
            <div class="content-panel large-panel" >
                <form name="form1" class="form-horizontal" ng-submit="addPractice()">
                    <div class="form-group row clearfix" ng-controller="datepickerpopupCtrl">
                        <label class="col-sm-3 control-label" for="inputStart">Data rozpoczęcia <span
                                style="color: darkred">*</span></label>
                        <div class="col-sm-6">
                            <p class="input-group ">
                                <input type="text" class="form-control"
                                       uib-datepicker-popup="{{format}}"
                                       datepicker-options="options"
                                       ng-model="practice.star"
                                       is-open="opened"
                                       ng-required="true" close-text="Close"
                                       alt-input-formats="altInputFormats" id="inputStart"
                                       show-button-bar="false" ng-disabled="isDisabled"/>
                                <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open()"
                                                        ng-disabled="isDisabled"><i
                                                        class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="form-group row clearfix" ng-controller="datepickerpopupCtrl">
                        <label class="col-sm-3 control-label" for="inputEnd">Data zakończenia <span
                                style="color: darkred">*</span></label>
                        <div class="col-sm-6">
                            <p class="input-group ">
                                <input type="text" class="form-control"
                                       uib-datepicker-popup="{{format}}"
                                       datepicker-options="options"
                                       ng-model="practice.end"
                                       is-open="opened"
                                       ng-required="true" close-text="Close"
                                       alt-input-formats="altInputFormats" id="inputEnd"
                                       show-button-bar="false" ng-disabled="isDisabled"/>
                                <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open()"
                                                        ng-disabled="isDisabled"><i
                                                        class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name1" class="col-sm-3 control-label">Liczba miejsc <span
                                style="color: darkred">*</span></label>
                        <div class="col-sm-6">
                            <input type="number" ng-model="practice.counter" class="form-control" id="name1"
                                   required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textarea01" class="col-sm-3 control-label">Rozmowa kwalifikacyjna </label>
                        <div class="col-sm-6">
                            <input type="checkbox" ng-model="practice.interview" id="textarea01">
                        </div>
                    </div>
                    <div class="form-group" ng-show="addresses.length > 1">
                        <label for="selectAddress" class="col-sm-3 control-label">Adres Praktyki</label>
                        <div class="col-sm-6">
                            <ui-select id="selectAddress" ng-model="practice.address"
                                       class="btn-group bootstrap-select form-control"
                                       ng-disabled="false"
                                       append-to-body="true"
                                       search-enabled="false" required="required">
                                <ui-select-match placeholder="Wybierz adres praktyki">
                                    <span> {{practice.address.street}} {{practice.address.numberBuilding}} {{practice.address.city}}</span>
                                </ui-select-match>
                                <ui-select-choices repeat="item in addresses | filter: $select.search">
                                    <span ng-bind-html="item.street+' '+item.numberBuilding+' '+item.city "></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-10">
                            <button type="submit" class="btn btn-warning"><i
                                    class="fa fa-check"></i> Dodaj
                            </button>
                            <!--<button type="button" class="btn btn-danger" ng-click="cancel12()"><i class="fa fa-close"></i>-->
                                <!--Anuluj-->
                            <!--</button>-->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>