<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default bootstrap-panel" ng-repeat="item in data">
            <div class="panel-heading">{{item.yearbook.coursesOfStudeyName}} {{item.yearbook.coursesOfStudtSepcilaization}}</div>
            <div class="panel-body">
                <h3 class="with-line" style="margin-top: -30px">Szczegóły kierunku</h3>
                <div class="form-group row clearfix" ng-controller="datepickerpopupCtrl">
                    <label class="col-sm-12 control-label">Min data rozpoczęcia praktyk
                        <span>{{item.yearbook.startPractice}}</span></label>
                </div>
                <div class="form-group row clearfix" ng-controller="datepickerpopupCtrl">
                    <label class="col-sm-12 control-label">Max data zakończenia praktyk
                        <span>{{item.yearbook.endPractice}}</span></label>
                </div>
                <div class="form-group row clearfix" ng-controller="datepickerpopupCtrl">
                    <label class="col-sm-12 control-label">Liczba godzin <span>{{item.yearbook.hour}}</span></label>
                </div>
                <div class="form-group row clearfix" ng-controller="datepickerpopupCtrl">
                    <label class="col-sm-12 control-label">Liczba dni praktyki <span>{{item.yearbook.day}}</span></label>
                </div>
                <h3 class="with-line" style="margin-top: -20px">Praktyki</h3>
                <div >
                    <div class="form-group row clearfix" ng-controller="datepickerpopupCtrl">
                        <button type="button" class="btn btn-info" ng-click="addPractice(item)"><i class="fa fa-plus"></i>  Dodaj praktyke</button>
                    </div>
                    <div ng-repeat="practice in item.practices">
                    <div class="form-group row clearfix"  ng-controller="datepickerpopupCtrl">
                        <label class="col-sm-12 control-label">Data rozpoczęcia praktyk
                            <span>{{practice.star}}</span></label>
                    </div>
                    <div class="form-group row clearfix" ng-controller="datepickerpopupCtrl">
                        <label class="col-sm-12 control-label">Data zakończenia praktyk
                            <span>{{practice.end}}</span></label>
                    </div>
                    <div class="form-group row clearfix" ng-controller="datepickerpopupCtrl">
                        <label class="col-sm-12 control-label">Liczba miejsc
                            <span>{{practice.counter}}</span></label>
                    </div>
                    <div class="form-group row clearfix" ng-controller="datepickerpopupCtrl">
                        <button type="button" class="btn btn-info">Edytuj</button>
                        <button type="button" class="btn btn-danger" ng-click="getInterview(practice)">Zgłoszenia</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
