<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
                <section>
                    <ul class="nav nav-pills">
                        <li ng-class="{active: isSet(1)}"><a href ng-click="setTab(1)">Dane</a></li>
                        <li ng-class="{active: isSet(2)}"><a href ng-click="setTab(2)">Opiekunowie</a></li>
                        <li ng-class="{active: isSet(3)}"><a href ng-click="setTab(3)">Praktyki</a></li>
                    </ul>

                    <div ng-show="isSet(1)">
                        <div ng-include="'app/pages/employer/pages/widgets/employerDetails.html'"></div>
                        <!--<div class="form-horizontal">-->
                        <!--<div class="form-group">-->
                        <!--<label for="inputName" class="col-sm-2 control-label">Skrót:</label>-->
                        <!--<div class="col-sm-10">-->
                        <!--<p id="inputName"> {{employer.name}}</p>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                        <!--<label for="inputFullName" class="col-sm-2 control-label">Pełna nazwa:</label>-->
                        <!--<div class="col-sm-10">-->
                        <!--<p  id="inputFullNAme"> {{employer.fullName}}</p>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                        <!--<div class="col-sm-offset-2 col-sm-10">-->
                        <!--<button type="submit" class="btn btn-info">Edytuj</button>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                    <div ng-show="isSet(2)">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <uib-tabset active="activeForm">
                                    <uib-tab index="0" heading="Form Tab">
                                        <ng-form name="nestedForm">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" class="form-control" required ng-model="model.name"/>
                                            </div>
                                        </ng-form>
                                    </uib-tab>
                                    <uib-tab index="1" heading="Tab One">
                                        Some Tab Content
                                    </uib-tab>
                                    <uib-tab index="2" heading="Tab Two">
                                        More Tab Content
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" ng-model="form.name"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div ng-show="isSet(3)">

                            <accordion>
                                <accordion-group heading="Group with body">
                                    Body
                                </accordion-group>
                                <accordion-group heading="Group without body">
                                </accordion-group>
                            </accordion>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>