<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Praktykodawcy"
                 ba-panel-class="with-scroll">
                    <div class="input-group">
                        <input ng-model="searchText" type="text" class="form-control with-danger-addon" placeholder="Szukaj">
                        <span class="input-group-btn">
                        <button class="btn btn-primary" ng-click="searchEmployer(searchText)" >
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <div class="form-group select-page-size-wrap ">
                        <label>
                            <select class="form-control selectpicker show-tick" title={{smartTablePageSize}} selectpicker
                                    ng-model="smartTablePageSize" ng-options="i for i in [10,20,30,40,50,100,200]">
                            </select>
                        </label>
                    </div>
                    <table class="table" st-table="displayedCollection" st-safe-src="rowCollection">
                        <thead>
                        <tr class="sortable">
                            <th ></th>
                            <th st-sort="name">Nazwa skrócona</th>
                            <th st-sort="fullName">Nazwa</th>
                            <th st-sort="description">Opis</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in displayedCollection">
                            <td class="table-id"></td>
                            <td ><a href ng-click="employerDetail(item)">{{item.name}}</a></td>
                            <td>{{item.fullName}}</td>
                            <td>{{item.description}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="6" class="text-center">
                                <div st-pagination="" st-items-by-page="smartTablePageSize"
                                     st-displayed-pages="5"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>