<div>
    <div class="row">
        <div class="col-md-12">
            <div
                    ba-panel
                    ba-panel-class="with-scroll horizontal-tabs tabs-panel height-panel">
                <uib-tabset active="$tabSetStatus.activeTab">
                    <uib-tab heading="Dane">
                        <p></p>
                       <div class="col-md-5">
                           <h3 class="with-line">Nazwa</h3>
                           <p><b>{{employer.name}}</b></p>
                        <p><b>{{employer.fullName}}</b></p>
                        <p></p>
                        <div ng-repeat="items in addresses">
                            <h3 class="with-line" ng-show="$index === 0">Adres:</h3>
                            <h3 class="with-line" ng-show="$index > 0">Adres ddziału:</h3>
                            <p>{{items.address.street}} {{items.address.numberBuilding}}</p>
                            <p>{{items.address.postCode}} {{items.address.city}}</p>
                            <p>{{items.address.country}}</p>
                            <p ng-show="items.address.phone != undefined">Telefon :{{items.address.phone}}</p>
                            <p ng-show="items.address.phone1 != undefined">{{items.address.phone1}}</p>
                            <p ng-show="items.address.fax != undefined">Fax: {{items.address.fax}}</p>
                            <p></p>
                        </div>
                       </div>
                        <div class="col-sm-7" id="maps" >
                            <div id="google-maps" style="height: 230px"></div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="Opiekunowie praktyk">
                        <div class="content-panel" style="margin-top: -30px">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button class="btn btn-primary" ng-click="addCoordinator()" style="margin-left: 20px"><i class="fa fa-plus"></i>Dodaj opiekuna</button>
                            </div>
                            <div class="form-horizontal col-md-6" ng-show="assistant.length > 0">
                                <div  ng-repeat="item in assistant">
                                    <h3 class="with-line">{{item.userDto.firstName}} {{item.userDto.lastName}}</h3>
                                    <p>Stanowisko: {{item.userDto.position}}</p>
                                    <p>{{item.userDto.email}}</p>
                                    <p>{{item.userDto.phone}}</p>
                                    <p>{{item.userDto.phone2}}</p>
                                    <p>Kierunki:  <span ng-repeat="year in item.yearbookDtoList"><br>{{year.coursesOfStudeyName}} {{year.coursesOfStudtSepcilaization}}</span></p>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div ng-show="assistant.length == 0">
                        <div class="col-md-12" ng-show="coordinator == undefined"><h3> Brak opiekuna praktyk </h3></div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="Praktyki">
                        <p>praktyki</p>
                        <div class="col-sm-12">
                            <div ng-repeat="item in practice">
                                <div class="form-group row clearfix"  ng-controller="datepickerpopupCtrl">
                                    <label class="col-sm-12 control-label">Data rozpoczęcia praktyk
                                        <span>{{item.star}}</span></label>
                                </div>
                                <div class="form-group row clearfix" ng-controller="datepickerpopupCtrl">
                                    <label class="col-sm-12 control-label">Data zakończenia praktyk
                                        <span>{{item.end}}</span></label>
                                </div>
                                <div class="form-group row clearfix" ng-controller="datepickerpopupCtrl">
                                    <label class="col-sm-12 control-label">Liczba miejsc
                                        <span>{{item.counter}}</span></label>
                                </div>
                                <!--<div class="form-group row clearfix" ng-controller="datepickerpopupCtrl">-->
                                    <!--<button type="button" class="btn btn-info">Zapisz studenta</button>-->
                                <!--</div>-->
                            </div>

                        </div>
                    </uib-tab>

                </uib-tabset>
            </div>
        </div>
    </div>
</div>
