<div class="row">
    <div class="col-md-12">
        <div ba-panel ba-panel-title="Praktykodawcy"
             ba-panel-class="with-scroll">
            <table class="table table-bordered table-hover table-condensed">
                <tr>
                    <td></td>
                    <td>Imie Nazwisko</td>
                    <td>Emial</td>
                    <td>Data rozmowy</td>
                    <td>Punkty</td>
                    <td>Status</td>
                    <td>Akcje</td>
                </tr>
                <tr ng-repeat="item in items" class="editable-row">
                    <td>
                        {{$index +1}}
                    </td>
                    <td>
                        {{ item.studentsCourses.students.person.firstName }}
                        {{item.studentsCourses.students.person.lastName }}
                    </td>
                    <td>{{item.studentsCourses.students.person.email}}</td>
                    <td class="select-td">

                        <input style="height: 20px" ng-schow="isEditable" ng-model="item.dataInterview"
                               ng-show="item.isEditable" type="datetime-local" id="exampleInput" name="input"
                               ng-model="example.value"
                               placeholder="yyyy-MM-dd HH:mm" min="2001-01-01T00:00:00" max="2050-12-30 00:00"/>
                        <span ng-show="!item.isEditable">{{item.dataInterview | date:'yyyy-MM-dd HH:mm'}}</span>
                    </td>
                    <td class="select-td">
                        <input style="height:20px" ng-show="item.isEditable" type="number" ng-model="item.grade"
                               min="0" max="100">
                        <span ng-show="!item.isEditable" e-form="rowform">{{item.grade}}</span>
                    </td>
                    <td class="select-td">
                        <select ng-show="item.isEditable" name="singleSelect" ng-model="item.status"
                                ng-options="color.property as color.name for color in statuses">
                        </select>
                        <span ng-show="!item.isEditable" >
                            <span ng-if="item.status =='PASSED'">Zaliczona</span>
                            <span ng-if="item.status == 'FAILED'">Nie zaliczona</span>
                        </span>
                    </td>
                    <td>
                        <form editable-form name="rowform" ng-show="item.isEditable" class="form-buttons form-inline">
                            <button type="submit"
                                    class="btn btn-primary editable-table-button btn-xs" ng-click="save(item)">
                                Save
                            </button>
                            <button type="button" ng-click="cancel(item,$index)"
                                    class="btn btn-danger editable-table-button btn-xs">
                                Cancel
                            </button>
                        </form>
                        <div class="buttons" ng-show="!item.isEditable">
                            <button class="btn btn-primary editable-table-button btn-xs" ng-click="edit(item,$index)">
                                Edit
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>