<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="pl">
<head>
    <title>Strona główna</title>

    <!--STYLE-->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/webjars/metisMenu/2.5.2/metisMenu.css}" />
    <link rel="stylesheet" th:href="@{/webjars/startbootstrap-sb-admin-2/1.0.8/css/sb-admin-2.css}" />
    <link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}" />
    <link rel="stylesheet" th:href="@{/webjars/angular-datatables/0.5.2/plugins/bootstrap/datatables.bootstrap.css}" />
    <link rel="stylesheet" th:href="@{../styles/main.css}" />
    <link rel="shortcut icon" href="https://bkip.pwsztar.edu.pl/favicon.ico" type="image/x-icon"/>

    <!--SKRYPTY WEBJARS-->
    <script type="text/javascript" th:src="@{/webjars/jquery/2.2.4/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/angularjs/1.5.8/angular.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/angularjs/1.5.8/angular-route.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/angularjs/1.5.8/angular-resource.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/startbootstrap-sb-admin-2/1.0.8/js/sb-admin-2.js}" ></script>
    <script type="text/javascript" th:src="@{/webjars/metisMenu/2.5.2/metisMenu.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/datatables/1.10.12/js/jquery.dataTables.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/datatables/1.10.12/js/dataTables.bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/datatables.net-select/1.1.2/js/dataTables.select.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/datatables.net-responsive/2.0.2/js/dataTables.responsive.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/datatables.net-responsive-bs/2.0.2/js/responsive.bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/angular-datatables/0.5.2/angular-datatables.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/angular-datatables/0.5.2/plugins/select/angular-datatables.select.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/angular-datatables/0.5.2/plugins/bootstrap/angular-datatables.bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/smart-table/2.0.3/smart-table.min.js}"></script>


    <!--SKRYPTY-->
    <script type="text/javascript" th:src="@{../scripts/app.js}"></script>
    <script type="text/javascript" th:src="@{../scripts/directives/footer.js}"></script>
    <script type="text/javascript" th:src="@{../scripts/directives/header.js}"></script>
    <script type="text/javascript" th:src="@{../scripts/controllers/main.js}"></script>
    <script type="text/javascript" th:src="@{../scripts/controllers/practicelist.js}"></script>
    <script type="text/javascript" th:src="@{../scripts/jquery.spring-friendly.min.js}"></script>
    <script type="text/javascript" th:src="@{../scripts/service/authorization.js}"></script>
    <script type="text/javascript" th:src="@{../scripts/service/roles.js}"></script>
    <script type="text/javascript" th:src="@{../scripts/controllers/employerdata.js}"></script>


</head>
<body ng-app="mainApp">
<appheader></appheader>

<div id="wrapper" ng-view=""></div>
<appfooter></appfooter>
</body>
</html>