<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Wybierz priorytet</h4>
    </div>
    <form name="linkForm">
        <div class="modal-body">
            <div class="form-group">
                <label for="number1" class="col-sm-3 control-label">Priorytet(Wprowdz liczbe od 1 do 10)</label>
                <div class="col-sm-6">
                    <input type="number" ng-model="link" class="form-control" id="number1">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="ok()"><i class="fa fa-check"></i>  Zapisz</button>
        </div>
    </form>
</div>