<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="buton" ng-click="back()" class="btn btn-warning"><i
                class="fa fa-arrow-left"></i> Wstecz
        </button>
        <button ng-show="wizard" type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Zapisz</button>
        <button ng-show="template" type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Zapisz</button>
        <button type="button" class="btn btn-danger" ng-click="cancel()" ><i class="fa fa-close" ></i>
            Anuluj
        </button>
    </div>
</div>