<div ba-panel ba-panel-class="profile-page" ba-panel-title="Dodaj koordynatora praktyk">
    <div class="panel-content">
        <form ng-submit="saveCoordinator()">
            <h3 class="with-line">Podstawowe dane</h3>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row clearfix">
                        <label for="inputFirstName" class="col-sm-3 control-label">Imie</label>

                        <div class="col-sm-9">
                            <input ng-model="coordinator.firstName" type="text" class="form-control" id="inputFirstName"
                                   placeholder="" value="">
                        </div>
                    </div>
                    <div class="form-group row clearfix">
                        <label for="inputLastName" class="col-sm-3 control-label">Nazwisko</label>

                        <div class="col-sm-9">
                            <input ng-model="coordinator.lastName" type="text" class="form-control" id="inputLastName"
                                   placeholder="" value="">
                        </div>
                    </div>
                    <div class="form-group row clearfix">
                        <label for="inputLogin" class="col-sm-3 control-label">Login</label>

                        <div class="col-sm-9">
                            <input ng-model="coordinator.login" type="text" class="form-control" id="inputLogin"
                                   placeholder="" value="">
                        </div>
                    </div>
                    <div class="form-group row clearfix">
                        <label for="inputOccupation" class="col-sm-3 control-label">Tytuł zawodowy</label>

                        <div class="col-sm-9">
                            <input ng-model="coordinator.occupation" type="text" class="form-control"
                                   id="inputOccupation" placeholder="" value="Front End Web Developer">
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="with-line">Hasło</h3>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row clearfix">
                        <label for="inputPassword" class="col-sm-3 control-label">Hasło</label>

                        <div class="col-sm-9">
                            <input ng-model="coordinator.password" type="password" class="form-control"
                                   id="inputPassword" placeholder="" value="12345678">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row clearfix">
                        <label for="inputConfirmPassword" class="col-sm-3 control-label">Powtórz hasło</label>

                        <div class="col-sm-9">
                            <input ng-model="coordinator.confirmPassword" type="password" class="form-control"
                                   id="inputConfirmPassword" placeholder="">
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="with-line">Dane kontaktowe</h3>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row clearfix">
                        <label for="inputEmail3" class="col-sm-3 control-label">Email</label>

                        <div class="col-sm-9">
                            <input ng-model="coordinator.email" type="email" class="form-control" id="inputEmail3"
                                   placeholder="" value="contact@akveo.com">
                        </div>
                    </div>
                    <div class="form-group row clearfix">
                        <label for="inputPhone" class="col-sm-3 control-label">Telefon</label>

                        <div class="col-sm-9">
                            <input ng-model="coordinator.phone" type="text" class="form-control" id="inputPhone"
                                   placeholder="" value="+1 (23) 456 7890">
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-with-icon save-profile">
                <i class="fa fa-check"></i>Zapisz
            </button>
            <button type="button" class="btn btn-danger btn-with-icon save-profile">
                <i class="fa fa-times"></i>Anuluj
            </button>
        </form>
    </div>
</div>
