<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Importuj studentów</h4>
    </div>
    <form name="linkForm">
        <div class="modal-body">
            <div class="col-md-6">
                <!--<i class="ion-ios-close-outline" ng-click="removePicture()" ng-if="!noPicture"></i>-->
                <button id="btn" class="btn btn-warning" ng-click="uploadPicture()"><i class="fa fa-plus"></i> Dodaj plik</button>
                <span for="btn" class="control-label col-md3" ng-bind="fileName" ></span>
                <input type="file" ng-show="false" id="uploadFile" onchange="angular.element(this).scope().fileNameChanged(this)">

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="ok()"><i class="fa fa-check"></i>  Zapisz</button>
        </div>
    </form>
</div>