<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Importuj studentów</h4>
    </div>
    <form name="linkForm">
        <div class="slider-box">
            <h5>Basic</h5>
            <div class="form-group">
                <ui-select ng-model="selectpickerVm.selectedItem.selected"
                           class="btn-group bootstrap-select form-control"
                           ng-disabled="false"
                           append-to-body="true"
                           search-enabled="false">
                    <ui-select-match placeholder="Standard Select">
                        <span> {{$select.selected.label}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="standardItem in item | filter: $select.search">
                        <span ng-bind-html="standardItem.label"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="ok(link)">Zapisz</button>
        </div>
    </form>
</div>
