<div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <input ng-model="searchText" type="text" class="form-control with-danger-addon" placeholder="Szukaj">
            <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" ng-click="searchStudents(searchText)">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
        </div>
        <div class="form-group select-page-size-wrap ">
            <label>
                <select class="form-control selectpicker show-tick" title={{smartTablePageSize}} selectpicker
                        ng-model="smartTablePageSize" ng-options="i for i in [20,30,40,50,100,150,200]">
                </select>
            </label>
        </div>
        <table class="table" st-table="displayedCollection" st-safe-src="rowCollection">
            <thead>
            <tr class="sortable">
                <th></th>
                <th st-sort="numberAlbum">Nr albumu</th>
                <th st-sort="lastName">Imię Nazwisko</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in displayedCollection">
                <td class="table-id"></td>
                <td><a href ng-click="studentCourseDetail(item)">{{item.numberAlbum}}</a></td>
                <td>{{item.person.firstName}} {{item.person.lastName}}</td>
                <td >{{item.person.email}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6" class="text-center">
                    <div st-pagination="" st-items-by-page="smartTablePageSize"
                         st-displayed-pages="5"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>