<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Lata akademickie"
                 ba-panel-class="with-scroll">
                <div class="input-group">
                    <input ng-model="searchText" type="text" class="form-control with-danger-addon" placeholder="Szukaj">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="searchAcademicYear(searchText)" >
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                </div>
                <div class="form-group select-page-size-wrap ">
                    <div class="form-group" >
                        <button ng-click="addNewYear()" class="btn btn-info"><i class="fa fa-plus"></i> Nowy rok akademicki</button>
                    </div>
                    <label>
                        <select class="form-control selectpicker show-tick" title={{smartTablePageSize}} selectpicker
                                ng-model="smartTablePageSize" ng-options="i for i in [10,20,30,40,50,75,100,200]">
                        </select>
                    </label>

                </div>
                <table class="table" st-table="displayedCollection" st-safe-src="rowCollection">
                    <thead>
                    <tr class="sortable">
                        <th ></th>
                        <th st-sort="name">Nazwa </th>
                        <th st-sort="fullName">Data rozpoczęcia</th>
                        <th st-sort="description">Data zakończenia</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in displayedCollection">
                        <td class="table-id"></td>
                        <td ><a href ng-click="yearDetails(item)">{{item.name}}</a></td>
                        <td>{{item.start | date:'dd-MM-yyyy'}}</td>
                        <td>{{item.end | date:'dd-MM-yyyy'}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="6" class="text-center">
                            <div st-pagination="" st-items-by-page="smartTablePageSize"
                                 st-displayed-pages="5"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>