<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel
                 ba-panel-class="with-scroll horizontal-tabs tabs-panel large-panel">
                <uib-tabset active="$tabSetStatus.activeTab">

                    <uib-tab heading="Właściwości kierunku">
                        <div>
                            <button class="btn btn-info" ng-show="!isEditable" ng-click="edit()"><i
                                    class="fa fa-pencil"></i> Edytuj
                            </button>
                        </div>
                        <div class="panel-content">
                            <form ng-submit="saveDetails()">
                                <h3 class="with-line">Podstawowe dane</h3>
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-1">
                                        <div class="form-group row clearfix">
                                            <label for="inputName" class="col-sm-3 control-label">Nazwa Kierunku</label>

                                            <div class="col-sm-9">
                                                <input ng-model="yearbook.nameCourses" type="text" class="form-control"
                                                       id="inputName"
                                                       placeholder="" value="" disabled="true">
                                            </div>
                                        </div>
                                        <div class="form-group row clearfix">
                                            <label for="inputSpecialization" class="col-sm-3 control-label">Specjalizacja</label>

                                            <div class="col-sm-9">
                                                <input ng-model="yearbook.specilaization" type="text"
                                                       class="form-control" id="inputSpecialization"
                                                       placeholder="" value="" disabled="true">
                                            </div>
                                        </div>
                                        <div class="form-group row clearfix">
                                            <label for="inputDays" class="col-sm-3 control-label">Liczba dni praktyki
                                                <span style="color: darkred">*</span></label>

                                            <div class="col-sm-9">
                                                <input ng-model="practiceCourses.hour" type="number"
                                                       class="form-control" id="inputDays"
                                                       placeholder="" value="" ng-disabled="isDisabled">
                                            </div>
                                        </div>
                                        <div class="form-group row clearfix">
                                            <label for="inputH" class="col-sm-3 control-label">Liczba godzin praktyki
                                                <span style="color: darkred">*</span></label>

                                            <div class="col-sm-9">
                                                <input ng-model="practiceCourses.day" type="number"
                                                       class="form-control" id="inputH"
                                                       placeholder="" value="" ng-disabled="isDisabled">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="with-line">Daty zapisu na rozmowy kwalifikacyjne</h3>
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-1">
                                        <div class="form-group row clearfix" ng-controller="datepickerpopupCtrl">
                                            <label class="col-sm-3" for="inputInterviewStart">Od <span
                                                    style="color: darkred">*</span></label>
                                            <div class="col-sm-9">
                                                <p class="input-group ">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           datepicker-options="options"
                                                           ng-model="yearbook.startInterviews" is-open="opened"
                                                           ng-required="true" close-text="Close"
                                                           alt-input-formats="altInputFormats" id="inputInterviewStart"
                                                           show-button-bar="false" ng-disabled="isDisabled"/>
                                                    <span class="input-group-btn">
                                             <button type="button" class="btn btn-default" ng-click="open()"
                                                     ng-disabled="isDisabled"><i
                                                     class="glyphicon glyphicon-calendar"></i></button>
                                             </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group row clearfix" ng-controller="datepickerpopupCtrl">
                                            <label class="col-sm-3 control-label" for="inputInterviewEnd">Do <span
                                                    style="color: darkred">*</span></label>
                                            <div class="col-sm-9">
                                                <p class="input-group ">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           datepicker-options="options"
                                                           ng-model="yearbook.endInterviews"
                                                           is-open="opened"
                                                           ng-required="true" close-text="Close"
                                                           alt-input-formats="altInputFormats" id="inputInterviewEnd"
                                                           show-button-bar="false" ng-disabled="isDisabled"/>
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open()"
                                                        ng-disabled="isDisabled"><i
                                                        class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="with-line">Daty zapisu na praktyki</h3>
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-1">
                                        <div class="form-group row clearfix" ng-controller="datepickerpopupCtrl">
                                            <label class="col-sm-3 control-label" for="inputPracticeStart">Do <span
                                                    style="color: darkred">*</span></label>
                                            <div class="col-sm-9">
                                                <p class="input-group ">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           datepicker-options="options" ng-model="yearbook.startChoice"
                                                           is-open="opened"
                                                           ng-required="true" close-text="Close"
                                                           alt-input-formats="altInputFormats" id="inputPracticeStart"
                                                           show-button-bar="false" ng-disabled="isDisabled"/>
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open()"
                                                        ng-disabled="isDisabled"><i
                                                        class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group row clearfix" ng-controller="datepickerpopupCtrl">
                                            <label class="col-sm-3 control-label" for="inputPracticeEnd">Do <span
                                                    style="color: darkred">*</span></label>
                                            <div class="col-sm-9">
                                                <p class="input-group ">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           datepicker-options="options" ng-model="yearbook.endChoice"
                                                           is-open="opened"
                                                           ng-required="true" close-text="Close"
                                                           alt-input-formats="altInputFormats" id="inputPracticeEnd"
                                                           show-button-bar="false" ng-disabled="isDisabled"/>
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open()"
                                                        ng-disabled="isDisabled"><i
                                                        class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="with-line">Daty praktyk</h3>
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-1">
                                        <div class="form-group row clearfix" ng-controller="datepickerpopupCtrl">
                                            <label class="col-sm-3 control-label" for="inputStart">Min data rozpoczęcia
                                                <span
                                                        style="color: darkred">*</span></label>
                                            <div class="col-sm-9">
                                                <p class="input-group ">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           datepicker-options="options"
                                                           ng-model="yearbook.startPractice"
                                                           is-open="opened"
                                                           ng-required="true" close-text="Close"
                                                           alt-input-formats="altInputFormats" id="inputStart"
                                                           show-button-bar="false" ng-disabled="isDisabled"/>
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open()"
                                                        ng-disabled="isDisabled"><i
                                                        class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group row clearfix" ng-controller="datepickerpopupCtrl">
                                            <label class="col-sm-3 control-label" for="inputEnd">Max data zakończenia
                                                <span
                                                        style="color: darkred">*</span></label>
                                            <div class="col-sm-9">
                                                <p class="input-group ">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           datepicker-options="options" ng-model="yearbook.endPractice"
                                                           is-open="opened"
                                                           ng-required="true" close-text="Close"
                                                           alt-input-formats="altInputFormats" id="inputEnd"
                                                           show-button-bar="false" ng-disabled="isDisabled"/>
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open()"
                                                        ng-disabled="isDisabled"><i
                                                        class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-show="isEditable">
                                    <div class="col-md-6 col-md-offset-5">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Zapisz
                                        </button>
                                        <button type="button" class="btn btn-danger" ng-click="edit()"><i
                                                class="fa fa-close"></i> Anuluj
                                        </button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </uib-tab>
                    <uib-tab heading="Kordynatorzy">
                        <div class="panel-content">
                            <div class="form-group">
                                    <!--<button type="button" class="btn btn-info" ng-click="chooseCoordinator()"><i-->
                                            <!--class="fa fa-check"></i> Wybierz koordynatora-->
                                    <!--</button>-->
                                    <button type="button" class="btn btn-info" ng-click="getNewCoordinator()"><i
                                            class="fa fa-plus"></i> Dodaj koordynatora
                                    </button>

                            </div>
                            <div class="form-group" ng-show="coordinator.length > 0">
                                <div class="col-md-6" ng-repeat="item in coordinator">
                                    <h3 class="with-line">{{item.degree}} {{item.firstName}} {{item.lastName}}</h3>
                                    <p>{{item.email}}</p>
                                    <p>{{item.phone}}</p>
                                    <p>{{item.phone2}}</p>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="Studenci">
                        <div class="panel-content">
                            <div class="form-group">
                                <button class="btn btn-warning" ng-click="importStudents()"><i
                                        class="fa fa-arrow-up"></i> Importuj studentów
                                </button>
                            </div>
                            <div ng-show="students != undefined"
                                 ng-include="'app/pages/academicYear/pages/widget/studentsList.html'"></div>
                            <div ng-show="students === undefined" class="clo-md-6 col-md-offset-3">
                                <h3>Brak studentów</h3>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>