
<div class="widgets">

    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Kreator nowego roku akademickiego" ba-panel-class="with-scroll">
                <ba-wizard ba-wizard-controller="NewAcademicYearCtrl">
                    <ba-wizard-step title="Rok akademicki" form="vm.academicYearForm">
                        <form name="vm.academicYearForm" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error': vm.academicYearForm.name.$invalid && (academicYear.name.$dirty || vm.academicYearForm.$submitted)}">
                                        <label for="exampleAcademicYearName1">Nazwa roku akademickiego</label>
                                        <input type="text" class="form-control" id="exampleAcademicYearName1" name="name" placeholder="Nazwa roku akademickiego" ng-model="academicYear.name" required>
                                        <span class="help-block error-block basic-block">Wymagane</span>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback" ng-class="{'has-error': vm.academicYearForm.startDate.$invalid && (vm.academicYear.startDate.$dirty || vm.academicYearForm.$submitted)}">
                                        <label for="academicYearStartDate">Data rozpoczęcia</label>
                                        <p class="input-group">
                                            <input id="academicYearStartDate" type="text" name="startDate" class="form-control" uib-datepicker-popup="{{format}}" placeholder="Data rozpoczęcia" ng-model="academicYear.startDate" is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" required/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                        <span class="help-block error-block basic-block">Wymagane</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-feedback" ng-class="{'has-error': vm.academicYearForm.endDate.$invalid && (vm.academicYear.endDate.$dirty || vm.academicYearForm.$submitted)}">
                                        <label for="academicYearEndDate">Data zakończenia</label>
                                        <p class="input-group">
                                            <input id="academicYearEndDate" type="text" name="endDate" class="form-control" uib-datepicker-popup="{{format}}" placeholder="Data zakończenia" ng-model="academicYear.endDate" is-open="popup2.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" required/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                        <span class="help-block error-block basic-block">Wymagane</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ba-wizard-step >
                    <ba-wizard-step title="Kierunki studiów" form="vm.studyFieldsForm">
                        <form name="studyFieldsForm" novalidate>
                            <div class="row">
                                <div class="col-md-6">                                    
                                    <label >Wybierz kierunki studiów</label>
                                    <div ng-repeat="studyField in studyFields">
                                        <label class="checkbox-inline custom-checkbox nowrap">
                                            <input type="checkbox" id="{{studyField.id}}" value="{{studyField.nameCourses}}" ng-model="studyField.checked" ng-click="selectedItem(studyField)">
                                            <span>{{studyField.nameCourses}}, {{studyField.specilaization}}</span>
                                        </label>                                            
                                    </div>                                    
                                </div>                                
                            </div>
                        </form>
                    </ba-wizard-step>                
                </ba-wizard>
            </div>
        </div>
    </div>
</div>