<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Rok akademick"
                 ba-panel-class="with-scroll">
                <div class="input-group">
                    <input ng-model="searchText" type="text" class="form-control with-danger-addon" placeholder="Szukaj">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="searchCoursesOfStudy(searchText)" >
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                </div>
                <div class="form-group add-item-icon">
                    <button type="button" class="btn btn-info " ng-click="addNewYear()"><i class="fa fa-plus"></i> Dodaj nowy rok</button>
                </div>
                <div class="form-group select-page-size-wrap ">
                    <label>
                        <select class="form-control selectpicker show-tick" title={{smartTablePageSize}} selectpicker
                                ng-model="smartTablePageSize" ng-options="i for i in [10,20,30,40,50,75,100,200]">
                        </select>
                    </label>
                </div>
                <table class="table" st-table="displayedCollection" st-safe-src="rowCollection">
                    <thead>
                    <tr class="sortable">
                        <th ></th>
                        <th st-sort="courseOfStudy.nameCourses">Nazwa kierunku</th>
                        <th st-sort="startInterviews">Data rozpoczęcia zapisu</th>
                        <th st-sort="endChoice">Data zakończenia zapisu</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in displayedCollection">
                        <td class="table-id"></td>
                        <td ><a href ng-click="coursesDetails(item)">{{item.courseOfStudy.nameCourses}}</a></td>
                        <td>{{item.startInterviews | date:'dd-MM-yyyy'}}</td>
                        <td>{{item.endChoice | date:'dd-MM-yyyy'}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="6" class="text-center">
                            <div st-pagination="" st-items-by-page="smartTablePageSize"
                                 st-displayed-pages="5"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
</div>