<div class="datepicker row">
    <div class="col-xlg-6 col-md-12 col-sm-6" ng-controller="datepickerCtrl">
        <h4>Inline</h4>
        <label>Selected date is: <em>{{dt | date:'fullDate' }}</em></label>
        <div class="uib-datepicker-wrap">
            <uib-datepicker ng-model="dt" datepicker-options="options"></uib-datepicker>
        </div>
    </div>

    <div class="col-xlg-6 col-md-12 col-sm-6" ng-controller="datepickerpopupCtrl">
        <h4>Popup</h4>
        <label>Selected date is: <em>{{dt | date:'fullDate' }}</em></label>
        <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="options" ng-model="dt" is-open="opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>    
        <label>Format: <span class="muted-text">(manual alternate <em>{{altInputFormats[0]}}</em>)</span></label> <select class="form-control" ng-model="format" ng-options="f for f in formats"><option></option></select>
    </div>
    
    <div class="col-xlg-6 col-md-12 col-sm-6" ng-controller="datepickerpopupCtrl">
        <h4>Popup</h4>
        <label class="col-sm-3">Selected date is: <em>{{dt | date:'fullDate' }}</em></label>
        <p class="input-group col-sm-9">
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="options" ng-model="dt" is-open="opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>    
        <label>Format: <span class="muted-text">(manual alternate <em>{{altInputFormats[0]}}</em>)</span></label> <select class="form-control" ng-model="format" ng-options="f for f in formats"><option></option></select>
    </div>

</div>