<div id="page-wrapper">

    <div class="panel-primary">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Informacje o praktykodawcy
                    </div>
                </div>
                <div class="panel-body">
                    <pre><span class="text_bold">Nazwa: </span>{{employer.name}}</pre>
                </div>
            </div>
        </div>
    </div>
</div>