<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

    <div class="navbar-header">
        <div style="float: left">

        </div>
        <div style="float:right">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-expanded="true" style="margin-top:10px">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
    <ul class="nav navbar-top-links navbar-right">
        <!--<li id="menu-logout" class="dropdown">-->
            <!--<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"-->
               <!--aria-expanded="false">-->
                <!--<i class="fa fa-user fa-fw"></i> {{firstName}} {{lastName}} <i class="fa fa-caret-down"></i>-->
            <!--</a>-->
            <!--<ul class="dropdown-menu">-->
                <!--<li id="menu-user-info" class="menu-logout"><a id="logout" ng-href="/logout">Wyloguj</a></li>-->
            <!--</ul>-->
        <!--</li>-->
    </ul>

    <div class="navbar-default sidebar" role="navigation">

        <div class="sidebar-nav navbar-collapse">
            <ul class="nav in" id="side-menu">
                <li id="menu-practice_list" class="menu-practice_list"><a href="#/">Lista praktyk</a></li>
                <li id="menu-logout" class="menu-logout"><a href="/logout">Wyloguj</a></li>

            </ul>
        </div>
    </div>

</nav>

