<div id="page-wrapper">
    <!--<table id="employerTable" datatable="" dt-options="dtOptions" dt-columns="dtColumns"-->
           <!--class="table table-striped table-bordered table-hover"></table>-->
    <table st-table="employerTable" st-safe-src="employerList" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th st-sort="id">Lp.</th>
            <th st-sort="name">Nazwa</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in employerTable">
            <td>{{row.id}}</td>
            <td>{{row.name}}</td>
            <td><button type="button" ng-click="showItem(row)" class="btn btn-info"></button> </td>
        </tr>

        </tbody>

    </table>
</div>

