<div class="widgets">
    <div ba-panel
         ba-panel-class="profile-page">
        <div class="panel-content" ng-show="showTabs1">
            <h3 class="with-line" style="margin-top: -30px"> Dane koordynatora</h3>
            <form id="form1" ng-submit="showTab2()">
                <h3 class="with-line">Podstawowe dane</h3>
                <div class="row">
                    <div class="col-md-6 col-md-offset-1">
                        <div class="form-group row clearfix">
                            <label for="inputName" class="col-sm-3 control-label">Login
                                <span style="color: darkred">*</span></label>

                            <div class="col-sm-9">
                                <input ng-model="user.login" type="text" class="form-control"
                                       id="inputName"
                                       placeholder="" value="" required="true">
                            </div>
                        </div>
                        <div class="form-group row clearfix">
                            <label for="inputSpecjalization" class="col-sm-3 control-label">Imię
                                <span style="color: darkred">*</span></label>

                            <div class="col-sm-9">
                                <input ng-model="user.firstName" type="text"
                                       class="form-control" id="inputSpecjalization"
                                       placeholder="" value="" required="true">
                            </div>
                        </div>
                        <div class="form-group row clearfix">
                            <label for="inputDays" class="col-sm-3 control-label">Nazwisko
                                <span style="color: darkred">*</span></label>

                            <div class="col-sm-9">
                                <input ng-model="user.lastName" type="text"
                                       class="form-control" id="inputDays"
                                       placeholder="" value="" required="true">
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="with-line">Dane kontaktowe</h3>
                <div class="row">
                    <div class="col-md-6 col-md-offset-1">
                        <div class="form-group row clearfix">
                            <label for="inputEmail" class="col-sm-3 control-label">Email
                                <span style="color: darkred">*</span></label>

                            <div class="col-sm-9">
                                <input ng-model="user.email" type="text" class="form-control"
                                       id="inputEmail"
                                       placeholder="" value="" required="true">
                            </div>
                        </div>
                        <div class="form-group row clearfix">
                            <label for="inputPhone" class="col-sm-3 control-label">Telefon stacjonarny</label>

                            <div class="col-sm-9">
                                <input ng-model="user.phone" type="text"
                                       class="form-control" id="inputPhone"
                                       placeholder="" value="" >
                            </div>
                        </div>
                        <div class="form-group row clearfix">
                            <label for="inputPhone2" class="col-sm-3 control-label">Telefon komórkowy</label>
                            <div class="col-sm-9">
                                <input ng-model="user.phone2" type="text"
                                       class="form-control" id="inputPhone2"
                                       placeholder="" value="" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-5">
                         <!--<button type="" class="btn btn-primary"><i class="fa fa-check"></i> Zapisz</button>-->
                        <button type="submit" class="btn btn-warning"><i class="fa fa-arrow-right"></i> Dalej</button>
                        <button type="button" class="btn btn-danger" ng-click="cancel()"><i class="fa fa-close"></i>
                            Anuluj
                        </button>
                    </div>

                </div>
            </form>
        </div>
        <div class="content-panel" ng-show="showTabs2">
            <h3 class="with-line"> Wybierz praktykodawców</h3>
            <div class="form-group" ng-repeat="item in employers">
                <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox" id="{{item.id}}" value="{{item.fullName}}"
                          ng-model="item.checked" ng-click="selectedItem(item)">
                    <span>{{item.fullName}}</span>
                </label>
            </div>
            <button type="button" class="btn btn-warning btn-with-icon save-profile" ng-click="showTab1()"
                    style="float: left">
                <i class="fa fa-arrow-left"></i> Wstecz
            </button>
            <button type="submit" class="btn btn-primary btn-with-icon save-profile" ng-click="addCoordinator()">
                <i class="fa fa-check"></i> Zapisz
            </button>
            <button type="button" class="btn btn-danger btn-with-icon save-profile" ng-click="cancel()">
                <i class="fa fa-close"></i> Anuluj
            </button>

        </div>
    </div>
</div>