;<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel
                 ba-panel-class="with-scroll horizontal-tabs tabs-panel large-panel">
                <form name="form1" ng-submit="addCoordinators()">
                    <div class="row">
                        <div class="form-group">
                            <button class="btn btn-info" type="button" ng-click="addNewCoordinator()"><i
                                    class="fa fa-plus"></i> Dodaj nowego
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="with-line">Wybierz koordynatora praktyk z listy</h3>
                            <div ng-repeat="item in coordinatorCourses">
                                <label class="checkbox-inline custom-checkbox nowrap">
                                    <input type="checkbox" id="{{item.id}}" value="{{item.firstName}} {{item.lastName}}"
                                           ng-model="selectedCoordinator[item.id]">
                                    <span>{{studyField.nameCourses}}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> Zapisz</button>
                    <button type="button" class="btn btn-danger"><i class="fa fa-close" ng-click="cancel()"></i> Anuluj
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>