#login-header{
    border: 0 solid #000;
    height: 90px;
    margin: 0 auto;
    padding: 41px 0 0;
    position: relative;
    width: 885px;
}

#logoPwsz{
    border: 0 solid #000;
    height: 90px;
    left: 0px;
    position: absolute;
    top: 50px;
    width: 75px;
}

#headerText{
    border: 0 solid #000;
    height: 65px;
    left: 200px;
    position: absolute;
    top: 59px;
}