<div class="widgets">
    <div class="row">
        <div class="col-md-12"
             ba-panel
             ba-panel-title="Dodaj nowego praktykodawce"
             ba-panel-class="with-scroll">
            <div class="content-panel large-panel" >
                <h3 class="with-line">Dodaj praktyke studencką</h3>
                <form name="form1" class="form-horizontal" ng-submit="saveAddress()">
                    <div class="form-group row clearfix" ng-controller="datepickerpopupCtrl">
                        <label class="col-sm-3 control-label" for="inputStart">Data rozpoczęcia <span
                                style="color: darkred">*</span></label>
                        <div class="col-sm-9">
                            <p class="input-group ">
                                <input type="text" class="form-control"
                                       uib-datepicker-popup="{{format}}"
                                       datepicker-options="options"
                                       ng-model="yearbook.endInterviews"
                                       is-open="opened"
                                       ng-required="true" close-text="Close"
                                       alt-input-formats="altInputFormats" id="inputStart"
                                       show-button-bar="false" ng-disabled="isDisabled"/>
                                <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open()"
                                                        ng-disabled="isDisabled"><i
                                                        class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="form-group row clearfix" ng-controller="datepickerpopupCtrl">
                        <label class="col-sm-3 control-label" for="inputEnd">Data zakończenia <span
                                style="color: darkred">*</span></label>
                        <div class="col-sm-9">
                            <p class="input-group ">
                                <input type="text" class="form-control"
                                       uib-datepicker-popup="{{format}}"
                                       datepicker-options="options"
                                       ng-model="yearbook.endInterviews"
                                       is-open="opened"
                                       ng-required="true" close-text="Close"
                                       alt-input-formats="altInputFormats" id="inputEnd"
                                       show-button-bar="false" ng-disabled="isDisabled"/>
                                <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open()"
                                                        ng-disabled="isDisabled"><i
                                                        class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name1" class="col-sm-2 control-label">Liczba miejsc <span
                                style="color: darkred">*</span></label>
                        <div class="col-sm-6">
                            <input type="number" ng-model="employer.fullName" class="form-control" id="name1"
                                   required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textarea01" class="col-sm-2 control-label">Rozmowa kwalifikacyjna </label>
                        <div class="col-sm-6">
                            <textarea ng-model="employer.description" class="form-control" id="textarea01"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-warning"><i
                                    class="fa fa-arrow-right"></i> Dodaj
                            </button>
                            <button type="button" class="btn btn-danger" ng-click="cancel()"><i class="fa fa-close"></i>
                                Anuluj
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>